* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
}

header {
    background: linear-gradient(135deg, #ffffff);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 2.2em;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #f77f00;
}


h2 {
    text-align: center;
    margin: 25px 0;
    color: #d62828;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

th {
    background-color: #d62828;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #f1f1f1;
}

form {
    width: 320px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
    text-align: center;
}

form input,
form select {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

form input:focus,
form select:focus {
    border-color: #d62828;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d62828;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #a61c1c;
}

img {
    width: 100px;
    border-radius: 8px;
}

